header {
  width: 1000px;
  margin-top: 50px;

  .header-title {
    h1 {
      color: #31d2f2;
      text-shadow: #11eac7 1px 0 3px;
    }
  }

  .header-inputs {
    display: flex;
    justify-content: space-around;
    padding: 0 15px;
    margin: 30px 10px;

    input {
      margin: 0 5px;
      color: #dcd5c4;
      background-color: #133b59;
      border-color: #31d2f2;

      &:focus {
        color: #dcd5c4;
        background-color: #1a4d75;
        box-shadow: 0 0 0 5px rgba(49, 210, 242, 0.55);
      }
    }

    button {
      margin: 0 5px;
    }
  }
}
