body {
  font-family: "Roboto", serif;
  background: #0a1f2f;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header {
  width: 1000px;
  margin-top: 50px;

  .header-title {
    h1 {
      color: #31d2f2;
      text-shadow: #11eac7 1px 0 3px;
    }
  }

  .header-inputs {
    display: flex;
    justify-content: space-around;
    margin: 30px 10px;

    input {
      margin: 0 5px;
      color: #dcd5c4;
      background-color: #133b59;
      border-color: #31d2f2;

      &:focus {
        color: #dcd5c4;
        background-color: #1a4d75;
        box-shadow: 0 0 0 5px rgba(49, 210, 242, 0.55);
      }
    }

    button {
      margin: 0 5px;
    }
  }
}

.list {
  margin-bottom: 15px;
  background-color: #fff;
}

.list-text {
  justify-content: center;
}

.list-text-number {
  width: 40px;
  height: 40px;
}
