body {
  height: 100%;
  font-family: "Roboto", serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.app {
  height: 96vh;
}

header {
  height: 160px;
}

.header-inputs {
  justify-content: space-between;
}

.box-list-wrapper {
  height: calc(100% - 260px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #68a5dc;
    border-radius: 9em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #23d5ab;
    border-radius: 9em;
  }
}

.item-main-text {
  &:hover {
    position: relative;
    overflow-wrap: break-word;
  }
}

.text-through {
  text-decoration: line-through;
}

.btn-delete-all {
  background-color: white !important;
}

.text-field-main-input {
  background-color: white !important;
  border: none;
  border-radius: 5px;
}

.btn-main-header {
  background-color: white !important;
}

@media (max-width: 600px) {
  .header-title {
    & > h2 {
      font-size: 2.5rem;
    }
  }

  .header-inputs {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
  }

  .main-btns {
    margin: 15px 0 0;
  }
}

@media (max-width: 900px) {
  .wrapper-lists {
    justify-content: center !important;
  }
}
